<% if params[:search][:category].present? %>
    <h4><%= @products.size %> results found in <%= @category.title %> for '<%= params[:q] %>'</h4>
<% else %>
    <h4><%= @products.size %> results found for '<%= params[:q] %>'</h4>
<% end %>

<% if @products.empty? %>
    <p>Sorry, no products matching were found.</p>
<% else %>
    <p>Here are your results found: </p>
    <ul>
        <% @products.each do |s| %>
            <li><%= link_to s.title, s %></li>
        <% end %>
    </ul>
<% end %>