<!-- <p>
  <%= link_to 'Home', 'welcome#index' %> /
</p> -->


<!--<div class="row inline-block">
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card blue-grey lighten-1">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
-->

<div class="shaner-margins-top">
    <% if user_signed_in? %>
        <h4>
            Welcome Back, <%= current_user.name %>!
        </h4>
    <% end %>
<h5 class="header">Check out our new products!</h5>
<div class="row inline-block">
    <div class="col s12 m6 cards-container featured_card">
        <div class="card horizontal hoverable welcomecard">
            <div class="card-image">
                <img src="<%= @random_product.image %>" alt="featured product" >
            </div>
            <div class="card-stacked">
                <div class="card-content ">
                    <div><%= link_to @random_product.title, @random_product %></div>
                    <div><%= number_to_currency @random_product.price %></div>
                    <div><%= @random_product.description %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 cards-container featured_card">
        <div class="card horizontal hoverable welcomecard">
            <div class="card-image">
                <img src="<%= @random_product_2.image %>" alt="featured product" >
            </div>
            <div class="card-stacked">
                <div class="card-content ">
                    <div><%= link_to @random_product_2.title, @random_product_2 %></div>
                    <div><%= number_to_currency @random_product_2.price %></div>
                    <div><%= @random_product_2.description %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 cards-container featured_card">
        <div class="card horizontal hoverable welcomecard">
            <div class="card-image">
                <img src="<%= @random_product_3.image %>" alt="featured product" >
            </div>
            <div class="card-stacked">
                <div class="card-content ">
                    <div><%= link_to @random_product_3.title, @random_product_3 %></div>
                    <div><%= number_to_currency @random_product_3.price %></div>
                    <div><%= @random_product_3.description %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>