<h4>Shopping Cart</h4>

<% if @shopping_cart.empty? %>

  <p>You have no items in your cart yet!</p>
  
<% else %>
  <p>
      Here's what your cart looks like so far, <%= current_user.name %>:
  </p>

    <table class="responsive-table striped">
        <thead>
          <tr>
              <th>Item</th>
              <th>Image</th>
              <th>Quantity</th>
              <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <% @shopping_cart.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><img src="<%= item.picture.thumb %>"></td>
            <td>1</td>
            <td><%= number_to_currency item.price %></td> 
          </tr>
          <% end %>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <b>Sub-Total: </b><%= number_to_currency subtotal %>
            </td>
          </tr>

        </tbody>
      </table>

  <%= button_to "Proceed to Payment", '#', :class => "btn", :method => :get %>
<% end %>