<p>
  <%= link_to 'Home', '/' %> /
  <%= link_to 'Categories', categories_path %> /
  <%= @category.title %>
</p>

<h5><%= @category.title %></h5>

<ul>
    <% @category.products.each do |x| %>
        <li><%= link_to x.title, x %></li>
    <% end %>
</ul>